* {
  font-family: "Montserrat", sans-serif ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
    --white-color:white;
    --background-color:#f8fafc;
    --foreground-color:#1e293b;

    --primary-color:#4f46e5;
    --primary-light-color:#6366f1;
    --primary-dark-color:#3730a3;
    --primary-color-opacity:rgba(79, 70, 229, 0.25);

}
html{
  font-size: 10px;
}
html, body{
  height: 100%;
}
body {
  display: flex;
  font-size: 1.6rem;
  background-color: var(--background-color);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 768px;
  background-color: var(--white-color);
}
.left-sec {
  background: linear-gradient(70deg, var(--background-color),rgb(131, 29, 88)) ;
  border-radius: 0 0 2rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  background-image: linear-gradient(to bottom,
  var(--primary-light-color), var(--primary-color)
  );
}
.left-sec h2, .right-sec h2{
  font-size: 2.4rem;
}
.left-sec h2{
  font-weight: 500;
  color: var(--white-color);
  opacity: 0.75;
}
.left-sec, .right-sec{
  flex: 1;
  padding: 4rem;
}
.left-sec .circle-num {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  color: var(--white-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-image: linear-gradient(to bottom,
  var(--primary-dark-color), var(--primary-color-opacity));
  
}

.score-result-main{
  font-size: 7.2rem;
  font-weight: 700;
}
.score-result-sub{
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.5;
}
.score-result-text h1{
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 1.6rem;
  text-align: center;
}

.score-result-text p{
  width: 100%;
  font-size: 1.8rem;
  color: white;
  margin-bottom: 2rem;
  opacity: 0.6;
  text-align: center;
}

/*start style of right side*/

.right-sec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white-color);
}
.right-sec h2{
  font-weight: 600;
  color: var(--foreground-color);
}
.right-sec ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.right-sec ul li {
display: flex;
align-items: center;
gap: 1.6rem;
/*color: var(--primary-color);
background-color: var(--foreground-color);*/
padding: 1.6rem 2rem;
border-radius: 1.2rem;
}
.right-sec ul li.box-1{
  color: #ef4444;
  background-color: #fef2f2 ;
}
.right-sec ul li.box-2{
  color: #eab306;
  background-color: #fefce8 ;
}
.right-sec ul li.box-3{
  color: #22c55e;
  background-color: #f0fdf4 ;
}
.right-sec ul li.box-4{
  color: #3b82f6;
  background-color: #eff6ff ;
}
li p{
  font-weight: 500;
  color: var(--foreground-color);
  margin-left: auto;
}
.slash, .sorce-total{
  opacity: 0.5;
}
li p span{
  color: var(--foreground-color);
}
.right-sec button{
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 10rem;
  margin-top: auto;
  color: var(--white-color);
  background-color: var(--foreground-color);
  border: none;
  padding: 1.6rem;
}
.slash{
  margin: 0 0.4rem;
}
/*Responsive Design*/
@media only screen and (min-width:540px) {
  .score-result-text p{
    max-width: 40rem;
  }
}

@media only screen and (min-width:768px) {
  body{
    justify-content: center;
    align-items: center;
  }
  main{
    flex-direction: row;
  }
  main, .left-sec, .right-sec{
    border-radius: 4rem;
  }
  .score-result-text p{
    max-width: 28rem;
  }
}
